#header{
    display: none !important;
}

section#courseware ol.subchapters li.selected > .title .complete{
    background-image: none !important;
}

section#courseware ol.subchapters li div.title .complete{
    background-image: none !important;
}