/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17.11.2017, 14:49:03
    Author     : anne
*/

#header{
    display: none !important;
}

section#courseware ol.subchapters li.selected > .title .complete{
    background-image: none !important;
}

section#courseware ol.subchapters li div.title .complete{
    background-image: none !important;
}