
body:not(.fixed) #barTopMenu > li {
    height: 70px !important;
    width: 70px !important;
    background-color: #fff;
    border-radius: 30px;
    opacity: 0.8;
}


#flex-header {
    height: 140px !important;
}

body:not(.fixed) #barTopMenu a {
    padding-top: 15px !important;
}

#barTopLogo{
    background-image: none, url("../images/logos/logo_kvhs.gif") !important;
    background-size: 123px 70px !important; 
    background-repeat: no-repeat;
    display: block !important;
    width: 123px !important;
    height: 70px !important;
    left: 10px !important;
}

#wrapper {
    top: 0px;
}

#layout_wrapper {
    background-color: #fff !important;
}

#barBottomContainer {
    background-color: #00285a !important;
}

#layout_footer{
    background-color: #fff !important;
}
#layout_footer a{
    color: #00285a !important;
}

#flex-header {
    background-image: none !important;
    background-color: #fff !important;
}
#flex-header {
    width: 1100px !important;
    margin-left: auto;
    margin-right: auto;
}

#barBottomLeft, #barBottommiddle { 
    padding-top: 10px;
}

div.index_container div.index_main footer {  
padding: 10px 5px 5px !important;
}

div.index_container div.index_main nav{
    margin: 20px 100px 120px 100px !important;
}

div.index_container div.index_main {
    background: url('../images/startseite.png') no-repeat left top;
    background-color: #FFFFFF;
    background-size: 750px 500px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div.index_container div.index_main nav {
    padding: 10px;
    margin: 20px;
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    width: 414px;
}

#vhs_title {
    color: #ccc !important;
    padding: 120px 0px 0px 120px;
    font-size: 20px;
}

.vhs-login {
    padding: 10px;
    margin: 20px;
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    width: 414px;
}

div.index_container div.index_main footer {
    padding: 10px 5px 5px !important;
}
div.index_container div.index_main footer {
    background-color: white;
    overflow: auto;
    padding: 5px;
}

.table_header_bold {
    background-color: #00285a !important;
} 

#feed.index_box {
    width: 750px;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
}

.widget-links.sidebar-navigation > li.active {
    background-color: #00285a !important;
}

body:not(.fixed) #barTopMenu img {
    -webkit-filter: hue-rotate(350deg) saturate(8.7%) brightness(177.3%) !important;
    filter: hue-rotate(350deg) saturate(6.7%) brightness(307.3%) !important;
}

.studip-widget .widget-header {
    background-color: #00285a !important;
    color: white !important;
}

.header-options .icon-role-clickable {
    -webkit-filter: hue-rotate(350deg) saturate(8.7%) brightness(177.3%) !important;
    filter: hue-rotate(350deg) saturate(6.7%) brightness(807.3%) !important;
}

div#layout-sidebar div.sidebar-image img {
    filter: hue-rotate(0deg) saturate(120%) brightness(60%);
}

.course-avatar-medium {
    filter: none !important;
}

/*


h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: #062c5b;;
}

.ui-widget-content {
    color: #062c5b;
}

a, a:link, a:visited {
    text-decoration: none;
}

#barTopFont { 
color: #00285a !important; 
font-weight: 400 !important;
}



#barTopMenu {
    top: 80px !important;
}

#barTopMenu a { 
color: #a9b6cb !important; 
}

#barTopMenu a:hover, 
#barTopMenu li.active a { 
color: #00285a !important; 
} 

#header {
    height: 140px !important;
}

body { 
background-repeat: repeat !important; 
background: #fff !important;
margin: 0px !important;
}



#flex-header { 
background-image: none !important;
background-color: #fff !important;
}



table.toolbar {
border-top: 1px solid #00285a !important;
}

td.toolbar,
td.printhead {
border-top: 1px solid #00285a !important;
}

td.rahmen_table_row_odd {
background-color: #d4dbe6 !important;
}

.zebra table.zebra > tbody > tr, 
.zebra table.zebra-hover > tbody > tr { 
background-color: #d4dbe6 !important; 
} 

table td.printhead2 { 
border-top: 1px solid #00285a !important; 
} 

table td.printhead3 {
border-top: 1px solid #00285a !important;
}

.settings thead th, 
.settings tbody th {
background-color: #00285a !important;
}

.settings .divider > th, 
.settings .divider > td {
background-color: #4c7bc4 !important;
}

.settings .bordered.left {
border-left: 1px solid #00285a !important;
}

.settings .bordered.right {
border-left: 1px solid #00285a !important;
}

table.tree .header > td {
border-top: 1px solid #00285a !important;
}

table.default tbody th {
background-color: #d4dbe6 !important;
border-bottom: 1px solid rgba(42, 76, 128, 0.2) !important; 
}

table.default tfoot td {
background-color: #d4dbe6 !important;
}

table.default2 caption {
background-color: #00285a !important; 
}

table.default2 tbody tr:hover td {
background-color: rgba(42, 76, 128, 0.25) !important;
}

.studip_form > fieldset > legend {
background-color: #d4dbe6 !important;
border-top: 1px solid #00285a !important;
}

.css-tree.selectable input[type=radio]:checked + label { 
background: #CCD5DE !important; 
}



#footer{
color: #00285a !important;
}


#barBottom {
background-color: #00285a !important; 
}



#barBottomLeft, #barBottommiddle, 
#barBottomright { 
background-color: #00285a !important;
}

#barBottomLeft:before { 
border: 12px solid rgba(42, 76, 128, 0) !important; 
border-left-color: #00285a !important;
}

#barBottommiddle:before {
background-color: #00285a !important; 
background-image: -moz-linear-gradient(left, #00285a, #00285a) !important; 
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#00285a), to(#00285a)) !important; 
background-image: -webkit-linear-gradient(left, #00285af, #00285a) !important; 
background-image: -o-linear-gradient(left, #00285a, #00285a) !important; 
background-image: linear-gradient(to right, #00285a, #00285a) !important; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00285a', endColorstr='#ff00285a', GradientType=1) !important;
}


#barBottomright:before {
background-color: #00285a !important; 
background-image: -moz-linear-gradient(left, rgba(42, 76, 128, 0), #00285a) !important; 
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(42, 76, 128, 0)), to(#00285a)) !important; 
background-image: -webkit-linear-gradient(left, rgba(42, 76, 128, 0), #00285a) !important; 
background-image: -o-linear-gradient(left, rgba(42, 76, 128, 0), #00285a) !important; 
background-image: linear-gradient(to right, rgba(42, 76, 128, 0), #00285a) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000285a', endColorstr='#ff00285a', GradientType=1) !important; 
background-color: rgba(42, 76, 128, 0) !important;
}

#notification_marker {
background-color: #00285a !important;
}

.studip-logo {
background-image: none, url("../images/logos/logo.jpg") !important;
background-size: 125px 125px !important; 
display: block !important;
width: 125px !important;
height: 125px !important;
}

#barTopStudip {
    position: absolute !important;
    bottom: 10px !important;
    left: 1000px !important;
    top: 10px !important;
}

td.infoboxrahmen {
border-bottom: 1px solid rgba(42, 76, 128, 0.2) !important;
}



.sidebar-widget-content {
border-top: 1px solid #CCD5DE !important;
}

.sidebar .sidebar-widget-placeholder {
background: #d4dbe6 !important; 
}

.helpbar .helpbar-widgets > li {
border-top: 1px solid #00285a !important;
}

section.contentbox header {
background-color: #d4dbe6 !important;
}

section.contentbox footer {
border-color: #CCD5DE !important; 
}

section.contentbox article { 
border-color: #CCD5DE !important; 
}

section.contentbox article footer {
border-color: #CCD5DE !important;
}

a.button, 
button.button {
background-color: #ccd4e1 !important;
}

.dropping {
background-color: #00285a !important;
}


#statusbar_container > .statusbar {
background-color: #CCD5DE !important;
}

#statusbar_container > .statusbar > .progress { 
background-color: #00285a !important;
}

.message_body {
background-color: #d4dbe6 !important; 
}

#tabs li {
background-color: #fff !important;
}

#tabs li.current, #tabs li.current:hover, #tabs li:hover {
    background-color: #00285a !important;
}

#tabs li:hover a {
color: #fff !important;
}

#tabs li.current a, #tabs li.current span.quiet, .smiley-tabs li.current a, .smiley-tabs li.current span.quiet {
    color: #fff;
}
#tabs a, #tabs span.quiet, .smiley-tabs a {
    color: #00285a;
}
 #tabs li.current a img, #tabs li a img {
     filter: invert(100%);
 }
  #tabs li:hover a img {
     filter: none;
 }


.cronjobs-edit > table > thead > tr > th { 
background-color: #00285a !important; 
}

.themen_list > * {
background-color: #d4dbe6 !important;
}

#study_area_selection .even { 
background-color: #d4dbe6 !important;
}

.addclip-widgets li { 
border-top: 1px solid #00285a !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-button { 
background-color: #ccd4e1 !important;
}

blockquote {
border-left: 3px solid #00285a !important;
}

blockquote > .author {
background-color: #00285a !important;
}

div.overdiv div.title {
background: #00285a !important; 
}

#barTopMenu a:hover canvas, #barTopMenu li.active a canvas, #barTopMenu a:hover img, #barTopMenu li.active a img {
    filter: hue-rotate(0deg) saturate(100%) brightness(100%) !important;
}
#barTopMenu li a img, #barTopMenu li a canvas {
    filter: hue-rotate(0deg) saturate(40%) brightness(200%) grayscale(20%) !important;
}


 

 

*/
