
#barTopMenu a:hover canvas, #barTopMenu li.active a canvas, #barTopMenu a:hover img, #barTopMenu li.active a img {
    -webkit-filter: brightness(2000%) !important;
}

#notification_marker {
    background-color: #cd1013 !important;
}

#tabs li.current, #tabs li.current:hover, .smiley-tabs li.current, .smiley-tabs li.current:hover {
    background-color: #fff !important;
}

div.index_container div.index_main nav {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 160px 200px 200px 400px !important;
    padding: 15px !important;
    width: 324px !important;
}


div.index_container div.index_main nav div.login_link {
    display: inline-block;
    padding-right: 10px !important;
    vertical-align: top !important;
    width: 150px !important;
}

#login_badge {
    position: relative !important;
    right: -180px !important;
    top: -10px !important;
}

div.index_container{
    margin: 0 auto !important;
    width: 800px !important;
}
div.index_container div.index_main {
    background-size: 800px 580px !important;
}

#barTopStudip.studip-logo{
	background-image: none, url("../images/logo-os.png");
	background-size: 168px 57px;
	height: 57px;
    width: 168px;
}



/*Navigation*/


#barTopFont {
    color: #000000 !important;
    font-size: 16pt !important;
    font-weight: 400 !important;
}

#header {
    height: 120px;
}

body {
    background-color: #ddd !important;
    background-image: linear-gradient(to bottom, #ddd, #ddd) !important;
}
#layout_container{
    background-color: #fff !important;
    background-image: linear-gradient(to bottom, #fff, #fff) !important;
}
#layout_content{
    background-color: #fff !important;
    background-image: linear-gradient(to bottom, #fff, #fff) !important;
}

	
#flex-header {
	 background-color: #ccc !important;
	 background-image: url("../images/banner.jpg") !important;
     position: relative !important;
}

#barTopStudip {
    bottom: 46px !important;
}

#barTopMenu a:hover, #barTopMenu li.active a {
    color: #fff !important;
}

#barTopMenu a {
    color: #000 !important;
}

#barTopMenu {
    top: 60px !important;
}


#barBottommiddle:before, #barBottomLeft:before, #barBottomright:before{
	display: none !important;
}

#barBottomLeft, #barBottommiddle, #barBottomright {
    background-color: #cd1013 !important; //#cd1013
    color: #fff !important;
}

.table_header_bold {
    background-color: #cd1013 !important; //#cd1013
    border-color: #f0ede6 !important;
}

#tabs li {
    background-color: #cd1013 !important; //#cd1013
}

#tabs a, #tabs span.quiet {
    color: #fff;
}

#footer{
	color: #fff !important;
}

#layout_footer {
    background-color: #aaa !important;
    border-top: 1px solid #f0ede6 !important;
}

div.index_container div.index_main footer {
    margin-top: -150px;
}

table.logintable {
    background-image: url("../images/login.jpg");
    background-size: 800px 350px;
}